/* Global Styles */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 10;
    padding: 10;
    background-color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    font-weight: 900;
    color: #052f79;
}
h3{
    font-weight:990;
    color:#000000;
}

p {
    color: #000000;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    font-size: 30px;
}

.menu {
    display: flex;
}

.menu li {
    margin-right: 40px;
}

/* Main Content */
main {
    padding-top: 60px;
}

/* Profile Section */
#main-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image img {
    width: 300px;
    border-radius: 70%;
}

.profile-info {
    width: 50%;
    max-width: 900px;
}

.tagline {
    color: #303eb9;
    margin-bottom: 30px;
}

/* Fade In Animation */
.fade-in-left {
    opacity: 5;
    transform: translateX(-50px);
    animation: fade-in-left 1s ease forwards;
}

.fade-in-right {
    opacity: 0;
    transform: translateX(50px);
    animation: fade-in-right 1s ease forwards;
}

@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-right {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Education Section */
.education-item {
    margin-bottom: 20px;
}

/* Skills Section */
.skills-list li {
    margin-bottom: 10px;
}

/* Projects Section */
.project-item {
    margin-bottom: 20px;
}

/* Contact Section */
.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.contact-form input.btn-submit {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .profile-info {
        width: 100%;
    }
}

/* Profile Section */
#main-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image {
    margin-right: 40px; /* Adjust the value as per your preference */
}

.profile-image img {
    width: 300px;
    border-radius: 70%;
}

.profile-info {
    width: 70%;
    max-width: 1000px;
}

.about-me {
    font-size: 24px; /* Adjust the value as per your preference */
}


